[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen.git
	branch = master
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
	branch = master
[submodule "zsh/dircolors/dircolors-solarized"]
	path = zsh/dircolors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
	branch = master
[submodule "vim/vim/plugins/Vundle.vim"]
	path = vim/vim/plugins/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
	branch = master
